<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-{{cor}}" role="alert" *ngIf="menssageDeResposta">
                {{menssageDeResposta}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
        <i class="fas fa-user-plus"></i>
        Novo
      </button>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de Cadastro</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let x of clientes">
                        <td>{{ x.id }}</td>
                        <td>{{ x.nome }}</td>
                        <td>{{ x.cpf }}</td>
                        <td>{{ x.dataCadastro }}</td>
                        <td>
                            <button class="btn-primary" routerLink="/clientes/form/{{ x.id }}">
                <i class="fas fa-user-edit"></i>
              </button>
                            <button class="btn-danger ml-3" data-toggle="modal" data-target="#modaldelecao" (click)="preparaDelecao(x)">
                <i class="fas fa-user-times"></i>
              </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modaldelecao" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" *ngIf="clienteSelecionado">
                    <p>Deseja excluir do(a) cliente {{clienteSelecionado.nome}}.</p>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" (click)="deletar()" data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>